body
{
    
    width: 480px;
    height: 480px;
    margin: auto;
    background-color: white; 
    
}
nav
{
    background-color: white;
    width: 480px;
    height: 90px;
    float: left;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 10px solid rgb(226, 16, 16);
    border-bottom: 5px solid rgb(213, 228, 6);
    border-right: 10px solid rgb(207, 16, 16);
    border-left: 10px solid rgb(230, 4, 4);
}

header
{
    background-color: white;
    width: 480px;
    height: 540px;
    float: left;
    border-top: 5px solid rgb(231, 8, 8);
    border-bottom: 10px solid rgb(255, 0, 0);
    border-right: 10px solid rgb(255, 0, 0);
    border-left: 10px solid rgb(255, 0, 0);
}
.foto
{
    width: 480px;
    height: 340px;
    border-top: 10px solid rgb(248, 5, 5);
    border-bottom: 4px solid rgb(255, 0, 0);
    

}


main
{
    background-color: white;
    width: 480px;
    height: 140px;
    float: left;
    border-top: 5px solid rgb(194, 32, 32);
    border-bottom: 10px solid rgb(192, 39, 39);
    border-right: 10px solid rgb(252, 3, 3);
    border-left: 10px solid rgb(255, 0, 0);
}

.Fecha
{
    background-color: white;
    width: 480px;
    height: 30px;
}
.Nombres
{
    background-color: white;
    width: 480px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Nombre1
{
    background-color: white;
    width: 100px;
    height: 35px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;

}
.Nombre
{
    background-color: white;
    width: 480px;
    height: 30px;
}
.Direccion
{
    background-color: white;
    width: 480px;
    height: 30px;
}
.Fecha1
{
    background-color: white;
    width: 480px;
    height: 30px;
    
}
.Calle
{
    background-color: white;
    width: 480px;
    height: 30px;
    
}